<form   class   = "tgce-app-form {{#if darkTheme}}tgce-dark{{/if}}"
        id      = "tgce-app-form">  
        
    <!-- HEADER: FAQ -->
    <header class="main-header">
        <div class="logo-flex-row"><!-- LOGO -->
            <img class="tgce-logo" src="/modules/tgce-restyler-5e3/data/TGCE_RestylerLogo.png"> 
        </div>    
        
        <div class="flex-row-divider2"></div><!-- 2px Divider -->
        
        <div class="section-header">
            <a href="https://github.com/Carpathias/tgce-restyler-5e3/blob/main/README.md">{{localize "TgceRestyler5e3.FAQ"}} </a>
            <i class="fa-solid fa-dice-d20"></i>
            <a href="https://ko-fi.com/carpathias32056">{{localize "TgceRestyler5e3.KoFi"}} </a>
        </div>
        
        <div class="flex-row-divider2"></div><!-- 2px Divider -->              

        <hr class="divider-line">
    </header>

    <div class="tabbed-form">
        <ul class="tab-navigation">
            <li class="active">Images</li>
            <li>Header</li>
            <li>Portrait</li>
            <li>Favorites</li>
            <li>Skills</li>
            <li>Traits</li>
            <li>General</li>
            <li>Color Adj</li>
        </ul>
    
        <div class="tab-content">

            <!-- 
            ############################################################## 
                    Images
            ############################################################## 
            -->

            <div class="tab-pane active">
                <div><!-- CHARACTER SHEET OPTIONS -->
                    <header 
                        class               = "section-header">{{localize "TgceRestyler5e3.CharacterSheetOptions"}}
                    </header>
                </div>
                


                <p class="config-info">{{localize "TgceRestyler5e3.ScalingInfo"}}</p>  

                <p class="config-info">{{localize "TgceRestyler5e3.HueRotationInfo"}}</p>  

                   

                <p class="config-info">{{localize "TgceRestyler5e3.RemoveImageInfo"}}</p>          
                



                <div class="flex-row-divider2"></div><!-- 2px Divider -->                           
            </div>

            <!-- 
            ############################################################## 
                    HEADER
            ############################################################## 
            -->
            
            <div class="tab-pane">
                <div><!-- HEADER: CHARACTER SHEET HEADER OPTIONS -->
                    <header 
                        class               = "section-header">{{localize "TgceRestyler5e3.CharacterSheetHeader"}}            
                    </header>
                </div>

                <div class="flex-row-divider2"></div><!-- 2px Divider -->    

                <div class="flex-row">
                    <label
                        class               = "label {{#if darkTheme}}tgce-dark{{/if}}">{{localize "TgceRestyler5e3.ReplaceHeaderImage"}}
                    </label>
                </div>


                <p class="config-info">{{localize "TgceRestyler5e3.RemoveImageInfo"}}</p>

                <div class="flex-row"><!-- HEADER HUE ROTATION -->                      
                    <label 
                        class               = "label {{#if darkTheme}}tgce-dark{{/if}}">{{localize "TgceRestyler5e3.HeaderHueRotate"}}
                    </label>
                    <input  
                        class               = "range" 
                        type                = "range" 
                        id                  = "sheet-header-hue-rotate" 
                        min                 = "0" 
                        max                 = "360" 
                        step                = "1" 
                        value               = "0" 
                        data-action         = "get-range"
                        data-cssText        = "{{cssAnchorID}}.dnd5e2.sheet.actor.character .sheet-header||filter||hue-rotate(VALUEdeg)">
                    <button 
                        class               = "button {{#if darkTheme}}tgce-dark{{/if}}" 
                        type                = "button" 
                        id                  = "clear-sheet-header-hue-rotate"
                        data-action         = "clear">
                        <i class            = "fa-solid fa-trash"></i>        
                    </button>       
                </div>

                <p class="config-info">{{localize "TgceRestyler5e3.UseTokenRingInfo"}}</p>

                <div class="flex-row-divider5"></div><!-- 5px Divider -->    


                <div class="flex-row-divider5"></div><!-- 5px Divider -->    
            </div>

            <!-- 
            ############################################################## 
                    STAT BLOCK
            ############################################################## 
            -->
            <div class="tab-pane">
                <div><!-- STAT OPTIONS -->
                    <header class="section-header">            
                        {{localize "TgceRestyler5e3.StatBlockOptions"}}            
                    </header>
                </div>

                <p class="config-info">{{localize "TgceRestyler5e3.UseTokenRingInfo"}}</p>               

                <div class="flex-row-divider2"></div><!-- 2px Divider -->       
            </div>

            <!-- 
            ############################################################## 
                    PORTRAIT PANEL
            ############################################################## 
            -->

            <div class="tab-pane">
                <div><!-- PORTRAIT PANEL OPTIONS -->
                    <header class="section-header">            
                        {{localize "TgceRestyler5e3.PortraitPanelElements"}}            
                    </header>
                </div>

                <div class="flex-row-divider2"></div><!-- 2px Divider -->  


                <p class="config-info">{{localize "TgceRestyler5e3.ACBadgeInfo"}}</p>

                <p class="config-info">{{localize "TgceRestyler5e3.LozengeInfo"}}</p>

                <div class="flex-row-divider5"></div><!-- 5px Divider -->    


                <div class="flex-row-divider5"></div><!-- 5px Divider -->  
            </div>

            <!-- 
            ############################################################## 
                    SKILL TOOLS SAVES PANLES
            ############################################################## 
            -->

            <div class="tab-pane">
                <div><!-- SKILLS/TOOLS/SAVES OPTIONS -->
                    <header class="section-header">            
                        {{localize "TgceRestyler5e3.SkillToolSavesConfig"}}            
                    </header>
                </div>

                <div class="flex-row-divider5"></div><!-- 5px Divider -->  
                

                <div class="flex-row-divider5"></div><!-- 5px Divider -->  
            </div>

            <!-- 
            ############################################################## 
                    FAVORITES
            ############################################################## 
            -->

            <div class="tab-pane">
                <div><!-- FAVORITES OPTIONS -->
                    <header class="section-header">            
                        {{localize "TgceRestyler5e3.FavoritesConfig"}}            
                    </header>
                </div>

                <div class="flex-row-divider5"></div><!-- 5px Divider -->  
                

                <div class="flex-row-divider5"></div><!-- 5px Divider -->
            </div>

            <!-- 
            ############################################################## 
                    TRAITS SECTION
            ############################################################## 
            -->

            <div class="tab-pane">

                <div><!-- CHARACTER TRAITS -->
                    <header class="section-header">            
                        {{localize "TgceRestyler5e3.CharacterTraitsConfig"}}            
                    </header>
                </div>

                <div class="flex-row-divider5"></div><!-- 5px Divider -->          

                

                <p class="config-info">{{localize "TgceRestyler5e3.TraitHeaderLabelInfo"}}</p>


                <div class="flex-row-divider5"></div><!-- 5px Divider -->
            </div>

            <!-- 
            ############################################################## 
                    OTHER SHEET ELEMENTS
            ############################################################## 
            -->

            <div class="tab-pane">
                <div><!-- OTHER ELEMENTS -->
                    <header class="section-header">            
                        {{localize "TgceRestyler5e3.OtherSheetElements"}}            
                    </header>
                </div>

                <div class="flex-row-divider5"></div><!-- 5px Divider -->       


                <p class="config-info">{{localize "TgceRestyler5e3.BioLabelInfo"}}</p>

               
            </div>
    </div>
    


    <!-- 
    ############################################################## 
            BOTTOM BUTTONS
    ############################################################## 
    -->
    <!-- BOTTOM BUTTONS -->
    <div class="button-group">        

        <hr class="divider-line">

        <button 
            class               = "bottom-button {{#if darkTheme}}tgce-dark{{/if}}"
            type                = "button" 
            id                  = "clear-all"
            data-action         = "defaults">
            <i class            = "fa-solid fa-eraser"></i>
            {{localize "TgceRestyler5e3.Defaults"}}        
        </button>

        <button 
            class               = "bottom-button {{#if darkTheme}}tgce-dark{{/if}}"
            type                = "submit" 
            id                  = "save">
            <i class            = "fa-solid fa-floppy-disk"></i>
            {{localize "TgceRestyler5e3.Save"}}        
        </button>

        <button 
            class               = "bottom-button {{#if darkTheme}}tgce-dark{{/if}}"
            type                = "button" 
            id                  = "save-close"
            data-action         = "save-close">
            <i class            = "fa-solid fa-circle-xmark"></i>
            {{localize "TgceRestyler5e3.SaveClose"}}        
        </button>           
    </div>     
</form>


    
    




    
    

