<form class="tgce-app-form">
    <header>
        <img class="tgce-logo" src="/modules/tgce-restyler-5e3/data/TGCE_RestylerLogo.png">
        <div class="section-header">
            <a href="https://github.com/Carpathias/tgce-restyler-5e3/blob/main/README.md">{{localize "TgceRestyler5e3.FAQ"}} </a>
            <i class="fa-solid fa-dice-d20"></i>
            <a href="https://ko-fi.com/carpathias32056">{{localize "TgceRestyler5e3.KoFi"}} </a>
        </div>
    </header>

    <div class="tabs">
        <button class="tab" id="images" data-action="activate-pane">Images</button>
        <button class="tab" id="header" data-action="activate-pane">Header</button>
        <button class="tab" id="portrait" data-action="activate-pane">Portrait</button>
        <button class="tab" id="favorites" data-action="activate-pane">Favorites</button>
        <button class="tab" id="skills" data-action="activate-pane">Skills</button>
        <button class="tab" id="traits" data-action="activate-pane">Traits</button>
        <button class="tab" id="other" data-action="activate-pane">Other</button>
        <button class="tab" id="coloradj" data-action="activate-pane">Color Adj</button>
    </div>

    <div class="flex-container">
        <div class="scrollable-container">
            <div class="panes">
                <div id="images-tab" class="pane active">
                    Test Pane: IMAGES
                </div>

                <div id="header-tab" class="pane">
                    Test Pane: HEADER
                </div>

                <div id="portrait-tab" class="pane">
                    Test Pane: PORTRAIT
                </div>

                <div id="favorites-tab" class="pane">
                    Test Pane: FAVORITES
                </div>
                
                <div id="skills-tab" class="pane">
                    Test Pane: SKILLS
                </div>

                <div id="traits-tab" class="pane">
                    Test Pane: TRAITS
                </div>

                <div id="other-tab" class="pane">
                    Test Pane: OTHER
                </div>

                <div id="coloradj-tab" class="pane">
                    Test Pane: COLOR ADJ
                </div>

            </div>
        </div>
    </div>

    <div class="buttons">
        <button 
            class               = "button {{#if darkTheme}}tgce-dark{{/if}}"
            type                = "button" 
            id                  = "clear-all"
            data-action         = "defaults">
            <i class            = "fa-solid fa-eraser"></i>
            {{localize "TgceRestyler5e3.Defaults"}}        
        </button>

        <button 
            class               = "button {{#if darkTheme}}tgce-dark{{/if}}"
            type                = "submit" 
            id                  = "save">
            <i class            = "fa-solid fa-floppy-disk"></i>
            {{localize "TgceRestyler5e3.Save"}}        
        </button>

        <button 
            class               = "button {{#if darkTheme}}tgce-dark{{/if}}"
            type                = "button" 
            id                  = "save-close"
            data-action         = "save-close">
            <i class            = "fa-solid fa-circle-xmark"></i>
            {{localize "TgceRestyler5e3.SaveClose"}}        
        </button>           </div>
</form>